:root
{
  --watchOuterColor:#44446B;
  --watchInnerColor:#0C1034;
  --buttonColor:#373762;
  --watchContentColor:#00FFCC;
}
.fullColor
{
  padding: 0;
  margin: 0;
}
.colorPart
{
  background-color: #0080ff;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 40rem;
}
.textCenter
{
  height: 100vh;
  width: 90%;
  align-items: center;
}
.weatherClass
{
    padding-left: 30%;
     text-align: left;
    font-style: normal;
    font-family: sans-serif;
    font-size: 300%;
    color:#FFFFFF;
}
.appClass
{
  padding-left: 0;
   text-align: left;
    font-style: normal;
    font-family: sans-serif;
    font-size: 300%;
    color:#000000;
}
.container-fluid #watch{
   color:white;
}
.watchPosition
{
  position: relative;
  top: 0%;
  left:5%;
}
.outerSquare {
    position: relative;
    top:30%;
    width: 200px;
    height: 300px;
     -webkit-border-radius: 20px / 20px;
    background:var(--watchOuterColor);
    /*-webkit-box-shadow:0px 20px 20px #44446B;
 -moz-box-shadow:0px 5px 5px #44446B;
 box-shadow: 2px 2px #44446B;*/
}
.innerSquare {
    position: relative;
    top: 5%;
    width: 280px;
    height: 270px;
     -webkit-border-radius: 20px / 20px;
    background: var(--watchInnerColor);
}
.sideSmallButton
{
  position: relative;
top:68px;
left: 62.5%;
  width: 2px;
  height: 8px;
   -webkit-border-radius: 20px / 10px;
  background:var(--watchOuterColor);
  transform: rotate(90deg);
}
.sideLongButton
{
  position: relative;
  left: 50%;
  top: 180px;
  width: 10px;
  height: 8px;
   -webkit-border-radius: 20px / 10px;
  background: var(--watchOuterColor);
  transform: rotate(90deg);
}
.upperBand
{
  position: relative;
  top:5%;
  left:37%;
}
.lowerBand
{
  position: relative;
  bottom: 0%;
  left:37%;
}
.bandShapeUpper
{
  position: relative;
  width: 150px;
  height: 150px;
  background-color:var(--watchOuterColor);
  border-top-left-radius:20%;
  border-top-right-radius:20%;
/*  transform: matrix(-1, 0, 0, 1, 0, 0);*/

}
.bandShapeLower
{
  position: relative;
  width: 100px;
  height: 130px;
  background-color:var(--watchOuterColor);
  border-bottom-left-radius:20%;
  border-bottom-right-radius:20%; :
}
.icolor
{
  color: white;
}
.buttonComment
{
  margin-top: 30px;
  border-radius: 50px;
  background-color: var(--buttonColor);
  border: none;
}
.buttonMusic
{
    margin-top: 30px;
    border-radius: 50px;
    background-color: var(--buttonColor);
    border: none;
}
.buttonStopwatch
{
      margin-top: 30px;
      border-radius: 50px;
      background-color:var(--buttonColor);
      border: none;
}
.title
{
  position: relative;
  left: -15px;
  color: var(--watchContentColor);
}
.time
{
  position: relative;
  left: 15%;
  color: var(--watchContentColor);
}
.buttonBottom
{
  margin-top: 210px;
  margin-left: 158px;
  border-radius: 50px;
  background-color:var(--watchInnerColor);
  border: none;
}
.message-list
{
  position: relative;
  left: -10%;
  width: 60%;
}
.table-responsive-sm {
  position: relative;
  left:0;
  width: 1000px;
  max-height:210px;
  max-width: 260px;
}
.msg-icon
{

  background-color: #D2691E;
  border-radius: 40%;
  width: 20px;
  text-align: center;
  margin-top: 5px;
}
.msg-name
{
  position: relative;
  color: white;
  font-size: 18px;
}
/*

.msg-msg-block
{
  position: relative;
  width: 100%;
}*/
