/* Author: Debarun Mitra
Technology Used:HTML,css,javaScript,Bootstrap,jQuery
Objective: Create a smartwatch which able to show time, check message, play music and has a stopwatch */
:root {
  --watchOuterColor: #44446B;
  --watchInnerColor: #0C1034;
  --buttonColor: #373762;
  --watchContentColor: #00FFCC;
}
.container-fluid{
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }
 .text-pos{
   margin-top: 50%;
 }
.color-part{
  background-color: #0080ff;
  height:100vh;
  text-align: center;
}
.white-part .row{
  margin-top: 80px;
}
.outer-square {
  margin-left: 20%;
  margin-top: 100px;
  width: 260px;
  height: 300px;
  -webkit-border-radius: 25px / 25px;
  background: var(--watchOuterColor);
}
.inner-square {
  margin-left: 15px;
  margin-top: -190px;
  width: 230px;
  height: 270px;
  -webkit-border-radius: 20px / 20px;
  background: var(--watchInnerColor);
}
.side-small-button {
  margin-left: 235px;
  margin-top: 50px;
  width: 50px;
  height: 8px;
  -webkit-border-radius: 20px / 10px;
  background: var(--watchOuterColor);
  transform: rotate(90deg);
}
.side-long-button {
  margin-left: 210px;
  margin-top: 120px;
  width: 100px;
  height: 8px;
  -webkit-border-radius: 20px / 10px;
  background: var(--watchOuterColor);
  transform: rotate(90deg);
}
.upper-band-shape {
  margin-left: 56px;
  margin-top: -100px;
  width: 150px;
  height: 120px;
  background-color: var(--watchOuterColor);
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}
.lower-shape-upper {
  margin-left: 56px;
  width: 150px;
  height: 110px;
  background-color: var(--watchOuterColor);
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}
.icolor {
  color: white;
}

.buttonComment {
  margin-top: 30px;
  border-radius: 50px;
  background-color: var(--buttonColor);
  border: none;
  outline:none !important;
}

.buttonMusic {
  margin-top: 30px;
  border-radius: 50px;
  background-color: var(--buttonColor);
  border: none;
  outline:none !important;
}

.buttonStopwatch {
  margin-top: 30px;
  border-radius: 50px;
  background-color: var(--buttonColor);
  border: none;
  outline: none;
  outline:none !important;
}
