/* Author: Debarun Mitra
Technology Used:HTML,css,javaScript,Bootstrap,jQuery
Objective: Create a smartwatch which able to show time, check message, play music and has a stopwatch
#00FFCC*/
:root {
  --watchOuterColor: #44446B;
  --watchInnerColor: #0C1034;
  --buttonColor: #373762;
  --watchContentColor:#0080ff;
}
.home-time{
  margin-left: 60px;
  margin-top: 60px;
  color: var(--watchContentColor);
}
.home-time > p:nth-child(1){
  font-size: 20px;
  margin-top: -20px;
  margin-left: 10px;
}
.home-time > p:nth-child(4){
  font-size: 15px;
  text-align: center;
}
 .home-time > p:nth-child(2) > span:nth-child(1){
  font-size: 50px;
}
.home-time > p:nth-child(3){
 font-size: 15px;
 margin-left: 50px;
 margin-top: -20px;
}
.container-fluid{
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }
 .text-pos{
   margin-top: 40vh;
   font-size: 4vw;
 }
.color-part{
  background-color: #0080ff;
  height:100vh;
  width: 50%;
  text-align: center;
}
.white-part{
  margin-top: 50px;
}
.white-part .row{
  margin-top: 20px;
}
.outer-square {
  margin-left: 20%;
  margin-top: 100px;
  width: 260px;
  height: 300px;
  -webkit-border-radius: 25px / 25px;
  background: var(--watchOuterColor);
}
.inner-square {
  margin-left: 10px;
  margin-top: -205px;
  width: 240px;
  height: 280px;
  -webkit-border-radius: 20px / 20px;
  background: var(--watchInnerColor);
}
.side-small-button {
  margin-left: 235px;
  margin-top: 50px;
  width: 50px;
  height: 8px;
  -webkit-border-radius: 20px / 10px;
  background: var(--watchOuterColor);
  transform: rotate(90deg);
}
.side-long-button {
  margin-left: 210px;
  margin-top: 120px;
  width: 100px;
  height: 8px;
  -webkit-border-radius: 20px / 10px;
  background: var(--watchOuterColor);
  transform: rotate(90deg);
}
.upper-band-shape {
  margin-left: 56px;
  margin-top: -80px;
  width: 150px;
  height: 90px;
  background-color: var(--watchOuterColor);
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}
.lower-shape-upper {
  margin-left: 56px;
  width: 150px;
  height: 90px;
  background-color: var(--watchOuterColor);
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}
.icolor {
  color: white;
}

.buttonComment {
  margin-top: 30px;
  border-radius: 50px;
  background-color: var(--buttonColor);
  border: none;
  outline:none !important;
  width: 28px;
  height: 28px;
}

.buttonMusic {
  margin-top: 30px;
  border-radius: 50px;
  background-color: var(--buttonColor);
  border: none;
  outline:none !important;
  width: 28px;
  height: 28px;
}

.buttonStopwatch {
  margin-top: 30px;
  border-radius: 50px;
  background-color: var(--buttonColor);
  border: none;
  outline: none;
  outline:none !important;
  width: 28px;
  height: 28px;
}
.title {
  margin-left: 35px;
  margin-top: 5px;
  color: var(--watchContentColor);
}
.time {
  margin-left: 70px;
  margin-top: 5px;
  color: var(--watchContentColor);
}
.message-list {
  margin-left: 40px;
  margin-top: -30px;
  max-height: 230px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: visible;
}
::-webkit-scrollbar {
    display: none;
}
.responsive-view {
  display: table-cell;
  margin-left: 20%;
}
.table > tbody > tr:first-child > td {
    border: none;
}
.table > tbody > tr:first-child > th {
    border: none;
}
.msg-icon {
  background-color: #D2691E;
  border-radius: 50%;
  font-weight: bold;
  width: 30px;
  height: 30px;
  text-align: center;
}
.icon-let{
  margin-top: 15%;
}
.msg-list-name {
  color: white;
  margin-top: 0%;
  cursor: pointer;
}
.msg-name {
  color: white;
  margin-top: -45px;
  margin-left: 10px;
  width: 150px;
  font-size: 16px;
  text-align: center;
}
.message-read{
  margin-left: 40px;
  margin-top: -30px;
  max-height: 200px;
}
.msg-content {
  width: 200px;
  height: 150px;
  background: white;
  padding-top: -20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  transform: rotate(0deg);
}
.msg-content:before {
  content: "";
  border-top: 13px solid transparent;
  border-right: 8px solid white;
  border-bottom: 13px solid transparent;
}
.main-div {
  margin-top: 0px;
}

.img-poster {
  width: 80px;
  margin-top: -20px;
  margin-left: 92px;
  border-radius: 120%;
}

.song-name {
  color: white;
  text-align: center;
}

.singer-name {
  margin-top: -20px;
  color: white;
  text-align: center;
}

.sleek-bar {
  width: 180px;
  height: 5px;
  background-color: gray;
  display: flex;
  border-radius: 50px;
  margin-left: 50px;
  cursor: pointer;
}

.music-fill {
  height: 5px;
  background-color: var(--watchContentColor);
  border-radius: 20px;
}

.music-handler {
  width: 8px;
  height: 8px;
  background-color: var(--watchContentColor);
  border-radius: 50%;
  margin-left: 0%;
  transform: scale(2);
}

.music-button {
  margin-top: 28px;
  margin-left: -15px;
}
.lap-list
{
  margin-top: -25px;
  margin-left: -370px;
  max-width: 90px;
}
.lap-text
{
  color: var(--watchContentColor);
}
.button-reset {
  background-color: var(--watchInnerColor);
  border: none;
  border-radius: 50%;
  margin-left: 20px;
}

.button-play-pause {
  background-color: var(--watchInnerColor);
  border: none;
  border-radius: 50%;
  margin-left: -50px;
}

.button-lap-store {
  background-color: var(--watchInnerColor);
  border: none;
  border-radius: 50%;
  margin-left: -50px;
}
.stopwatch-dial {
  margin-left: -10px;
  margin-top: -20px;
}

.minutes {
  margin-left: 60px;
  padding-top: 40px;
  color:var(--watchContentColor);
  font-size: 40px;
}

.seconds {
  margin-left: 30px;
  padding-top: 40px;
  color:var(--watchContentColor);
  font-size: 40px;
}

.centiseconds {
  margin-left: 30px;
  padding-top: 40px;
  color: var(--watchContentColor);
  font-size: 40px;
}

.sw-button-position {
  margin-top: 10px;
  margin-left: 38px;
}

.button-reset {
  background-color: var(--watchInnerColor);
  border: none;
  border-radius: 50%;
  margin-left: 30px;
}

.button-play-pause {
  background-color: var(--watchInnerColor);
  border: none;
  border-radius: 50%;
  margin-left: 30px;
}

.button-lap-store {
  background-color: var(--watchInnerColor);
  border: none;
  border-radius: 50%;
  margin-left: 30px;
}

.dial-lap {
  color: white;
  width: 20px;
}

.lap-count {
  margin-top: 0px;
  margin-left: 50px;
  text-align: center;
  font-size: 20px;
}
.lap-list
{
  margin-left: 50px;
  max-height: 210px;
  max-width: 300px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: visible;
}
::-webkit-scrollbar {
    display: none;
}
.buttonBottom {
  margin-top: -18px;
  margin-left: 0px;
  border-radius: 50px;
  background-color: var(--watchInnerColor);
  border: none;
}
.lap-id
{
  color: var(--watchContentColor);
}
.lap-text
{
  color: var(--watchContentColor);
  margin-left: 10px;
}
